<%- include("header") -%>
<div>
  <h1>This is the about page</h1>
  <h2>
    I am Andreas, a newbie programmer. I am 17 years old, and just hit a 130kg
    deadlift at 60kg bodyweight.
  </h2>
</div>
<%- include("footer") -%>
